name: diamond
x-app-template: &app-template
  image: ghcr.io/hi0t/lattice-diamond-docker:latest
  platform: linux/amd64
  environment:
    - USER_UID=${USER_UID}
    - USER_GID=${USER_GID}
  hostname: diamond
  mac_address: ${LICENSE_MAC_ADDRESS}
  volumes:
    - ../..:/workspace:cached
    - ${LICENSE_FILE}:/diamond/license/license.dat:ro

services:
  build:
    <<: *app-template
    working_dir: /workspace/builddir

  bench:
    <<: *app-template
    working_dir: /workspace/builddir/hw/bench
