rvl_alias "CLK_IN" "CLK_IN";
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

SYSCONFIG SLAVE_SPI_PORT=ENABLE;

IOBUF ALLPORTS IO_TYPE=LVCMOS33;
LOCATE COMP "CLK_IN" SITE "105";
# QSPI
LOCATE COMP "QSPI_CLK" SITE "92";
LOCATE COMP "QSPI_NCS" SITE "115";
LOCATE COMP "QSPI_IO[0]" SITE "112";
LOCATE COMP "QSPI_IO[1]" SITE "113";
LOCATE COMP "QSPI_IO[2]" SITE "111";
LOCATE COMP "QSPI_IO[3]" SITE "114";
# SDRAM
LOCATE COMP "SDRAM_CLK" SITE "128";
LOCATE COMP "SDRAM_CS" SITE "22";
LOCATE COMP "SDRAM_ADDR[0]" SITE "140";
LOCATE COMP "SDRAM_ADDR[1]" SITE "139";
LOCATE COMP "SDRAM_ADDR[2]" SITE "138";
LOCATE COMP "SDRAM_ADDR[3]" SITE "133";
LOCATE COMP "SDRAM_ADDR[4]" SITE "132";
LOCATE COMP "SDRAM_ADDR[5]" SITE "127";
LOCATE COMP "SDRAM_ADDR[6]" SITE "126";
LOCATE COMP "SDRAM_ADDR[7]" SITE "125";
LOCATE COMP "SDRAM_ADDR[8]" SITE "122";
LOCATE COMP "SDRAM_ADDR[9]" SITE "121";
LOCATE COMP "SDRAM_ADDR[10]" SITE "141";
LOCATE COMP "SDRAM_ADDR[11]" SITE "120";
LOCATE COMP "SDRAM_BA[0]" SITE "143";
LOCATE COMP "SDRAM_BA[1]" SITE "142";
LOCATE COMP "SDRAM_DQ[0]" SITE "12";
LOCATE COMP "SDRAM_DQ[1]" SITE "13";
LOCATE COMP "SDRAM_DQ[2]" SITE "14";
LOCATE COMP "SDRAM_DQ[3]" SITE "15";
LOCATE COMP "SDRAM_DQ[4]" SITE "17";
LOCATE COMP "SDRAM_DQ[5]" SITE "19";
LOCATE COMP "SDRAM_DQ[6]" SITE "20";
LOCATE COMP "SDRAM_DQ[7]" SITE "21";
LOCATE COMP "SDRAM_DQ[8]" SITE "2";
LOCATE COMP "SDRAM_DQ[9]" SITE "3";
LOCATE COMP "SDRAM_DQ[10]" SITE "4";
LOCATE COMP "SDRAM_DQ[11]" SITE "5";
LOCATE COMP "SDRAM_DQ[12]" SITE "6";
LOCATE COMP "SDRAM_DQ[13]" SITE "9";
LOCATE COMP "SDRAM_DQ[14]" SITE "10";
LOCATE COMP "SDRAM_DQ[15]" SITE "11";
LOCATE COMP "SDRAM_RAS" SITE "23";
LOCATE COMP "SDRAM_CAS" SITE "24";
LOCATE COMP "SDRAM_WE" SITE "25";
LOCATE COMP "SDRAM_DQM[0]" SITE "26";
LOCATE COMP "SDRAM_DQM[1]" SITE "1";
# Cart
LOCATE COMP "M2" SITE "27" ;
LOCATE COMP "CPU_ADDR[0]" SITE "49";
LOCATE COMP "CPU_ADDR[1]" SITE "48";
LOCATE COMP "CPU_ADDR[2]" SITE "47" ;
LOCATE COMP "CPU_ADDR[3]" SITE "43";
LOCATE COMP "CPU_ADDR[4]" SITE "42";
LOCATE COMP "CPU_ADDR[5]" SITE "41";
LOCATE COMP "CPU_ADDR[6]" SITE "40";
LOCATE COMP "CPU_ADDR[7]" SITE "39";
LOCATE COMP "CPU_ADDR[8]" SITE "38";
LOCATE COMP "CPU_ADDR[9]" SITE "34";
LOCATE COMP "CPU_ADDR[10]" SITE "32";
LOCATE COMP "CPU_ADDR[11]" SITE "28";
LOCATE COMP "CPU_ADDR[12]" SITE "31";
LOCATE COMP "CPU_ADDR[13]" SITE "33";
LOCATE COMP "CPU_ADDR[14]" SITE "35";
LOCATE COMP "CPU_DATA[0]" SITE "60";
LOCATE COMP "CPU_DATA[1]" SITE "59";
LOCATE COMP "CPU_DATA[2]" SITE "58";
LOCATE COMP "CPU_DATA[3]" SITE "57";
LOCATE COMP "CPU_DATA[4]" SITE "56";
LOCATE COMP "CPU_DATA[5]" SITE "55";
LOCATE COMP "CPU_DATA[6]" SITE "54";
LOCATE COMP "CPU_DATA[7]" SITE "52";
LOCATE COMP "CPU_RW" SITE "62";
LOCATE COMP "ROMSEL" SITE "61";
LOCATE COMP "IRQ" SITE "63";
LOCATE COMP "PPU_RD" SITE "73";
LOCATE COMP "PPU_WR" SITE "69";
LOCATE COMP "CIRAM_A10" SITE "65";
LOCATE COMP "CIRAM_CE" SITE "67";
LOCATE COMP "PPU_ADDR[0]" SITE "89";
LOCATE COMP "PPU_ADDR[1]" SITE "86";
LOCATE COMP "PPU_ADDR[2]" SITE "84";
LOCATE COMP "PPU_ADDR[3]" SITE "82";
LOCATE COMP "PPU_ADDR[4]" SITE "78";
LOCATE COMP "PPU_ADDR[5]" SITE "76";
LOCATE COMP "PPU_ADDR[6]" SITE "74";
LOCATE COMP "PPU_ADDR[7]" SITE "75";
LOCATE COMP "PPU_ADDR[8]" SITE "77";
LOCATE COMP "PPU_ADDR[9]" SITE "81";
LOCATE COMP "PPU_ADDR[10]" SITE "83";
LOCATE COMP "PPU_ADDR[11]" SITE "85";
LOCATE COMP "PPU_ADDR[12]" SITE "87";
LOCATE COMP "PPU_ADDR[13]" SITE "91";
LOCATE COMP "PPU_DATA[0]" SITE "93";
LOCATE COMP "PPU_DATA[1]" SITE "95";
LOCATE COMP "PPU_DATA[2]" SITE "97";
LOCATE COMP "PPU_DATA[3]" SITE "99";
LOCATE COMP "PPU_DATA[4]" SITE "100";
LOCATE COMP "PPU_DATA[5]" SITE "98";
LOCATE COMP "PPU_DATA[6]" SITE "96";
LOCATE COMP "PPU_DATA[7]" SITE "94";
LOCATE COMP "CPU_DIR" SITE "50";
LOCATE COMP "PPU_DIR" SITE "103";
BLOCK JTAGPATHS;
